:host{
    width: 100%;
} 

.container{
    display: grid;
    width: calc(100% - 20px);
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

:host ::ng-deep .container *:last-child{
    text-align: right;
} 